
    .fon{

    width: 100%;
    height: 900px;
    background:no-repeat;
    background-size: cover;
    background-image: url('../../../public/Image/fon.jpg');

      .container{

        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1296px;

            .prelude__container{

            width: 100%;
            display: flex; 
            min-height: 804px;
            align-items: center;
            -ms-flex-pack: start;
            padding-bottom: 264px;
            -ms-flex-align: center;
            -webkit-box-pack: start;
            -webkit-box-align: center;
            -webkit-align-items: center;
            justify-content: flex-start;
            -webkit-justify-content: flex-start;

            // display: -webkit-box;
            // display: -webkit-flex;
            // display: -ms-flexbox;


                  .prelude__mass{

                  width: 100%;
                  display: flex;
                  align-items: center;
                  -ms-flex-pack: justify;
                  -ms-flex-align: center;
                  -webkit-box-align: center;
                  -webkit-box-pack: justify;
                  -webkit-align-items: center;
                  justify-content: space-between;
                  -webkit-justify-content: space-between;
                  
                  // display: -webkit-box;
                  // display: -webkit-flex;
                  // display: -ms-flexbox;

                      .prelude_title{

                        font-size: 38px;
                        font-weight: 600;
                        line-height: 130%;
                        margin-right: 30px;
                        justify-content: flex-start;


                            .lozyng{
                            color: #fff;
                            font-size: 30px;  
                            max-width: 1296px;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                            align-items: center;
                            }

                            .loz{
                            color: #fff;
                            font-size: 15px;
                            margin-top: 20px;
                            text-align:center;
                            }

                       }


                          .button_title_line{
                            display: flex;
                            padding-top: 50px;
                           flex-direction: row;

                                    .button_title{

                                      height: 52px;
                                      border: none;
                                      cursor: pointer;
                                      padding: 0 20px;
                                      font-size: 16px;
                                      min-width: 300px;
                                      color: #FFFFFF;
                                      font-weight: 500;
                                      border-radius: 15px;
                                      white-space: nowrap;
                                      transition: all 0.3s ease;
                                      background-color: #d6793e;
                                    }
                                      .button_title:hover {
                                      background-color: #c06a34;
                                      transform: translateY(-2px);
                                      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                                      }


                                    .button_title2{

                                        height: 52px;
                                        border: none;
                                        cursor: pointer;
                                        padding: 0 20px;
                                        font-size: 16px;
                                        font-weight: 500;
                                        min-width: 300px;
                                        color: #FFFFFF;
                                        margin-left: 28px;
                                        border-radius: 15px;
                                        white-space: nowrap;
                                        transition: all 0.3s ease;
                                        background-color: #4C5157;
                                        }
                                      .button_title2:hover {
                                      background-color: #2f3436;
                                      transform: translateY(-2px);
                                      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                                      }

                            }
            }
    } 
    
  }

} 


      .fon2{
        
        width: 100%;
          height: 900px;
          background:no-repeat;
          background-size: cover;
          background-image: url('../../../public/Image/card_fon.png');


      }






