.lozyng{
  color: #fff;
  font-size: 40px;
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}

.loz{
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  text-align:center;
}


.btn2 {
  
  color: white;
  font-size: 11px;
  cursor: pointer;
  margin-top: 20px;
  background: none;
  transition: 0.3s;
  align-self: start;
  font-weight: bold;
  margin-left: auto;
  padding: 10px 10px;
  margin-left: 670px;
  margin-right: auto;
  border-radius: 10px;
  border: 2px solid white;
}

.btn2:hover {
  transform: translateY(-2px); /* Слегка поднимаем кнопку */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Добавляем свечение */
  background: rgba(255, 255, 255, 0.1); /* Легкая подсветка фона */
}

.main {
  gap: 20px;
  padding: 40px;
  display: flex;
  margin-top: 340px;
  justify-content: center;
  background-color: #1a1a1a;
}


.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  color: white;
  gap: 20px; 
}

/* Цвет фона */
.dark {
  background-color: #020224;
}

.grey {
  background-color: #333333;
}

/* Текстовый блок */
.text {
  flex: 1; /* Занимает оставшееся пространство */
  display: flex;
  flex-direction: column; /* Текст идет друг под другом */
  justify-content: center;
  gap: 10px; /* Отступы между заголовком, текстом и кнопкой */


  .button {
    color: white;
    font-size: 11px;
    cursor: pointer;
    margin-top: 20px;
    background: none;
    transition: 0.3s;
    align-self: start;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid white;
}

.button:hover {
    transform: translateY(-2px); /* Слегка поднимаем кнопку */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Добавляем свечение */
    background: rgba(255, 255, 255, 0.1); /* Легкая подсветка фона */
}
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 0;
}

/* Кнопка */
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  align-self: start;
  border-radius: 5px;
  border: 2px solid white;
}

.btn:hover {
  background: white;
  color: black;
}

/* Изображение */
.image {
  width: 400px;
  border-radius: 10px;
}
