.advantages {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  .adv {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
  }

  .box {
    width: 70%; // На всю ширину родителя
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
    align-items: center; // Выравнивает по вертикали
    justify-content: space-between; // Растягивает элементы по краям

    .left {
      color: #fff;
      font-size: 15px;
      padding-left: 50px;
      padding-right: 70px;

      .name{
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
      }
    }

    .right {
      color: #fff;
      padding-right: 50px;
    }
  }
}