.catalog{
  color: #fff;
  display: flex;
  flex-direction: column;

  .name{
    font-size: 50px;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;

  }

  .products{
    color: #fff;
  }
}

.products {
  gap: 20px;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.product {
  overflow: hidden;
  border-radius: 8px;
  background: white;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
  height: 400px;
  display: flex;
  overflow: hidden;
  background:#fff;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product:hover .product-image img {
  transform: scale(1.05);
}

.no-image {
  color: #888;
  font-size: 16px;
}

.product-details {
  padding: 15px;
}

.product-details h2 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.price {
  margin: 10px 0;
  font-size: 20px;
  color: #2a5885;
  font-weight: bold;
}

.description {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
  overflow: hidden;
  margin: 10px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}