.catalog {
  display: flex;
  color: #fff;
  padding-bottom: 50px;
  flex-direction: column;

  .name {
    font-size: 50px;
    padding-top: 300px;
    text-align: center;
    padding-bottom: 400px;
  }

  .svg {
    gap: 10px; // Уменьшили расстояние между рядами
    display: flex;
    flex-direction: column;

    .row {
      gap: 60px; // Уменьшили расстояние между картинками в ряду
      display: flex;
      justify-content: center;

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        .fill {
          width: 200px;
          filter: brightness(0) invert(1);
          margin-bottom: -40px; // Приподнимаем картинку ближе к тексту
        }


        .fill:hover,
        .filltext:hover {
          filter: brightness(0.5) invert(0.5);
        }




        figcaption {
          margin-top: 5px; // Уменьшили отступ сверху для текста
          color: #fff;
          font-size: 16px;
          text-align: center;
          line-height: 1.3; // Уменьшаем межстрочный интервал
        }
      }
    }






  }
}