    
    .header {
            z-index: 4;
            width: 100%;
            padding-top: 10px;
            position: relative;
            padding-bottom: 10px;

        .container{
                width: 100%;
                margin: 0 auto;
                padding: 0 15px;
                max-width: 1296px;

                .header_container{
                        display: flex;
                        align-items: center;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        justify-content: space-between;

                        // -ms-flex-align: center;
                        // -ms-flex-pack: justify;
                        // -webkit-box-align: center;
                        // -webkit-box-pack: justify;
                        // -webkit-align-items: center;
                        // -webkit-justify-content: space-between;

                            .header_left{
                             padding-right: 20px;

                             .header__logo{
                             display: flex;
                             min-width: 135px;
                             max-width: 135px;
                             display: -webkit-box;
                             display: -ms-flexbox;
                             display: -webkit-flex;
                             align-items: flex-start;

                             //  -webkit-box-align: start;
                             //  -webkit-align-items: flex-start;
                             //  -ms-flex-align: start;
                             }

                                .header__logo img{
                                    width: 100%;
                                    max-height: 100%;
                                    pointer-events: none;
                                }
                            }

                            .header_center{
                                display: flex;
                                padding-right: 7px;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: -webkit-flex;
                                align-items: flex-start;
                                justify-content: flex-end;

                                // -ms-flex-pack: end;
                                // -webkit-box-pack: end;
                                // -ms-flex-align: start;
                                // -webkit-box-align: start;
                                // -webkit-align-items: flex-start;
                                // -webkit-justify-content: flex-end;

                                        .menu__link{
                                            color: #ffffff;
                                            font-size: 16px;
                                            font-weight: 400;
                                            line-height: 130%;
                                            padding-left: 20px;
                                            transition: all 0.3s;
                                            text-decoration: none;
                                            display: inline-block;
                                            -o-transition: all 0.3s;
                                            text-transform: uppercase;
                                            -webkit-transition: all 0.3s;
                                            border-bottom: 2px solid transparent;
                                        }

                                        .menu__link:hover{
                                                color: #E95821;
                                        }
                            }

                                .header_right{

                                    display: flex;
                                    padding-top: 5px;
                                    align-items: center;
                                    justify-content: flex-end;

                                    // -webkit-box-pack: end;
                                    // -webkit-box-align: center;

                                        .header_btn{
                                            width: 100%;
                                            font-size: 16px;
                                            max-width: 160px;
                                            font-weight: 400;
                                            transition: 0.3s;
                                            min-width: 160px;
                                            margin-left: 38px;
                                            font-family: Jost;
                                            line-height: 20px;
                                            border-radius: 15px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            padding: 12px 7px 11px;
                                            text-transform: uppercase;
                                            color: rgb(255, 255, 255);
                                            background-color: rgb(76, 81, 87);
                                        }
                                             .header_btn:hover {
                                                background-color: #E95821;
                                            }
                                }

                }

        }

    }