
.flex{
  width: 700px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;

  .st{
    display: flex;
    margin-top: 60px;
    flex-direction: column;

      .txt{
        color: #fff;
        font-size: 30px;
        text-align: center;
      }

      .text{
        display: flex;
        color: #fff;
        font-size: 17px;
        text-align: right;
        margin-top: 100px;
        text-align: center;
        flex-direction: row;

          .left{
            font-weight: 900px;
            margin-right: 50px;

          }
      }
  }
}

.textleft{
  text-align: left;
  font-weight: 900; 
}

.textright{
  text-align: right;
}
