
.partners {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000000;
    border-top: 5px solid #e95821;

        .container {
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            max-width: 1296px;

                  .partners__list {
                      gap: 30px;
                      display: flex;
                      margin: 0 auto;
                      flex-wrap: wrap;
                      max-width: 1200px;
                      justify-content: center;

                      .partners__item-wrapper {
                            flex-shrink: 0;
                            width: calc(20% - 30px);
                        }
                           .logo{
                              width: 80px;
                            }
                     }
         } 
}








