




.partners {
background-color: #000000;
padding-top: 50px;
padding-bottom: 20px;
border-top: 5px solid #e95821;
}

.container {
max-width: 1296px;
width: 100%;
margin: 0 auto;
padding: 0 15px;
}

.partners__list {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
margin: 0 auto;
max-width: 1200px;
}

.partners__item-wrapper {
width: calc(20% - 30px);
flex-shrink: 0;
}

.logo{
width: 80px;


}
