
.flex{
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  display: flex;
  flex-direction: row;
  .st{
    
    
  margin-top: 60px;
  display: flex;
  flex-direction: column;

      .txt{
        font-size: 50px;
        text-align: center;
        color: #fff;
      }
      .text{
        text-align: right;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        text-align: center;
        color: #fff;
          .left{
            font-weight: 900px;
              margin-right: 50px;

          }



      }



  }
}

.textleft{
  text-align: left;
 font-weight: 900; 
}

.textright{
  text-align: right;
}

// .line{
//   margin-top: 30px;
//   border: none; /* Убираем границу */
//   background-color: rgb(255, 255, 255); /* Цвет линии */
//   color: rgb(255, 255, 255); /* Цвет линии для IE6-7 */
//   height: 1px; /* Толщина линии */
//   // padding-top: 20px;
//   width: 1000px;
// }