  .footer {
    left: 0;
    bottom: 0px;
    width: 100%;
    flex-grow: 0;
    height: 150px;
    color: #FFF;
    display: flex;
    font-size: small;
    padding-top: 70px;
    position: relative;
    flex-direction: column;
    background-color: #000000;

        .line{
            display: flex;
            flex-direction: row;

            .social{
                margin-top: 40px;
                margin-left: 20px;
                .img{
                  width: 45px;
                  height: 45px;
                }
            }

            .copirate{
              font-size: 12px;
              margin-top: 70px;
              margin-left: auto;
              margin-right: auto;
            }
            
            .inf{
              font-size: 12px;  
              margin-top: 70px;
              margin-right: 40px;
            }
        }
  }
