
    .footer {
    z-index: 9;
    padding-top: 100px;
    position: relative;
    padding-bottom: 32px;
    background-color: #000000;

      .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1296px;
      }



    }


.footer__set {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
}

.footer__cellar {
display: none;
}

.footer__left {
padding-right: 34px;
}

.footer__center {
// padding-right: 20px;
}

.footer__right {
min-width: 457px;
max-width: 457px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
}

.footer__menu-link {

font-family: "Jost";
font-size: 16px;
line-height: 35px;
font-weight: 400;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

.footer__menu-link:hover {
opacity: 0.7;
}

.footer__phone {
margin-bottom: 5px;
text-decoration: none;
display: inline-block;
color: #FFFFFF;
font-family: "Jost";
font-size: 20px;
font-weight: 700;
line-height: 140%;
text-transform: uppercase;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

.footer__address-property {
font-weight: 700;
line-height: 120%;
margin-bottom: 7px;
}

.footer__address-val {
font-weight: 400;
line-height: 140%;
}

.footer__mail {
margin-bottom: 19px;
text-decoration: none;
display: inline-block;
color: #FFFFFF;
font-family: "Jost";
font-size: 16px;
line-height: 120%;
font-weight: 400;
border-bottom: 1px solid;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

.footer__logo {
min-width: 140px;
max-width: 230px;
display: -webkit-inline-box;
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
}


.footer__copyright{
text-align: center;
color: #FFFFFF;

}

.footer__address{
  font-family: "Jost";
  color: #FFFFFF;
}

.footer__address-val{
font-family: "Jost";
  color: #FFFFFF;
}