.footer {
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 150px;
  flex-grow: 0;
  display: flex;
  color: #FFF;
  font-size: small;
  position: relative;
  flex-direction: column;
  background-color: #000000;

      .line{

          display: flex;
          flex-direction: row;
          
          .social{
          
              margin-top: 40px;
              margin-left: 20px;


              .img{
                  width: 75px;
                  height: 75px;
              
              
              }
             
          }

          .copirate{
            font-size: larger;
              height: 100px;
              margin-top: 70px;
              margin-left: auto;
              margin-right: auto;
          }
          .inf{
            font-size: large;
              height: 100px;
              margin-top: 70px;
              margin-right: 40px;
          }
      }
}
