.box2 {
  display: flex;
  height: 400px;
  padding: 40px 0px;
  margin-top: 80px;
  flex-direction: column;
  background-color: #1a1a1a;

  .information_txt {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;

    .inf {
      margin-bottom: 20px;
      color: #fff;
      font-size: 20px;
      padding: 0 20px;
      max-width: 800px;
      text-align: center;
    }
  }

  form {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;

 
    .MuiTextField-root {
      border-radius: 4px;
      background-color: #fff;

      .MuiOutlinedInput-root {
        color: #1a1a1a;

        fieldset {
          border-color: #fff;
        }

        &:hover fieldset {
          border-color: #fff;
        }

        &.Mui-focused fieldset {
          border-color: #1976d2;
        }
      }

      .MuiInputLabel-root {
        color: rgba(0, 0, 0, 0.6);
      }
    }

   
    .input-row {
      gap: 20px;
      display: flex;
      margin-bottom: 20px;

      .MuiTextField-root {
        flex: 1;
      }
    }

   
    .button-container {
      display: flex;
      margin-top: 20px;
      justify-content: center;

      .MuiButton-root {
        color: white;
        width: 200px; 
        font-size: 13px;
        padding: 12px 24px;
        background-color: #1976d2;

        &:hover {
          background-color: #1565c0;
        }
      }
    }
  }
}