.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    background-color: #f0f0f0;
    min-height: 100vh;

    .box {
        border-radius: 70px;
        background-color: rgb(66, 66, 239);
        width: 700px;
        height: 400px;
        box-shadow: 14px 23px 8px 1px rgba(0, 0, 0, 0.24);
        display: flex;
        flex-direction: column;
        align-items: center;

        .txt {
            padding-top: 20px;
            text-align: center;
            font-size: x-large;
            color: azure;
            margin-bottom: 40px;
        }

        .auth-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            
            .auth-input {
                width: 100%;
                margin-bottom: 30px;
                
                .MuiOutlinedInput-root {
                    fieldset {
                        border-color: white;
                    }
                    &:hover fieldset {
                        border-color: white;
                    }
                }
            }

            .auth-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-top: 20px;

                .auth-button {
                    background-color: white;
                    color: rgb(66, 66, 239);
                    font-weight: bold;
                    padding: 10px 30px;
                    margin-bottom: 15px;
                    &:hover {
                        background-color: #e0e0e0;
                    }
                }

                .auth-register {
                    color: white;
                    text-transform: none;
                    &:hover {
                        text-decoration: underline;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}